*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red : rgb(133, 4, 0); 
}

.container{

    
    padding: 0 20px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}
.my-link{
    text-decoration: none;
    color: var(--red);
}

.container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: var(--red)
}

.container nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}
.container nav ul li a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    }

.container nav ul li a:hover{
    color: var(--red) ;
    
    
}


